BOT_TOKEN = 123123123123:ASDEASBDASEWQEQFSFAGADH

#INSTANCE 1
INSTANCE_1_NAME = AURORA WEB SERVER
INSTANCE_1_IP = localhost
INSTANCE_1_CHAT_ID = -1234153442
INSTANCE_1_KEY = 
INSTANCE_1_SSH_USER =

#INSTANCE 2 
INSTANCE_2_NAME = AURORA STANDALONE SERVER
#INSTANCE_2_IP = 123.123.123.123
INSTANCE_2_IP = 123.123.123.123
INSTANCE_2_CHAT_ID = -123456789
INSTANCE_2_KEY = /home/ubuntu/monitor_bot/keys/key.pem
INSTANCE_2_SSH_USER = ubuntu

CPU_ALERT_THRESHOLD=80
MEMORY_ALERT_THRESHOLD=85
DISK_ALERT_THRESHOLD=90
REPORT_INTERVAL=30
